.card {
    border: 2px solid black;
    margin: 20px;
}

.save-button {
    margin-left: 90px;
    font-size: 17px;
}

.actions {
    justify-content: space-between;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.popup-content h3 {
    margin-bottom: 20px;
}

.popup-content button {
    margin: 5px;
    width: 80px;
}
